.container
  %div#booking-form
    = form_tag "/bookings", method: "post"  do
      .form-group
        = label_tag :name
        %br
        = text_field_tag :name , nil, required: true
      .form-group
        = label_tag :mobile, "mobile phone no (format is +601XXXXXXXX OR 601XXXXXXXX)"
        %br
        = phone_field_tag :mobile , nil, required: true, pattern: "^(\+?)(601)(\d{8})$"
      .form-group
        = label_tag :email
        %br
        = email_field_tag :email , nil, required: true
      .form-group
        .row
          .col-md-6
            = label_tag :backup_date_1
            %br
            = text_field_tag :backup_date_1, nil, class: "datepicker", required: true
          .col-md-6
            = label_tag :backup_date_2
            %br
            = text_field_tag :backup_date_2, nil, class: "datepicker", required: true

      %input{type: "hidden", value: "#{@no_of_adults}", name: "no_of_adults"}
      %input{type: "hidden", value: "#{@no_of_kids}", name: "no_of_kids"}
      %input{type: "hidden", value: "#{@price}", name: "price"}
      %input{type: "hidden", value: "#{@type}", name: "type"}
      %input{type: "hidden", value: "#{@date}", name: "date"}

      .row
        .col-md-3.col-md-offset-9
          .no-of-adults
            %span.left-col No of adults:
            %span.right-col= @no_of_adults
      .row
        .col-md-3.col-md-offset-9
          .no-of-kids
            %span.left-col No of kids:
            %span.right-col= @no_of_kids
      .row
        .col-md-3.col-md-offset-9
          .type
            %span.left-col Type of stay:
            %span.right-col= @type
      .row
        .col-md-3.col-md-offset-9
          .type
            %span.left-col Date:
            %span.right-col= @date
      .row
        .col-md-3.col-md-offset-9
          .total-price
            %span.total-price-text.left-col Total Price: RM
            %span.total-price-amount.right-col= @price

      .row
        .col-md-3.col-md-offset-9
          = submit_tag("Make Payment", class: "btn btn-success")
